@model Lotofacil.Application.ViewsModel.ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="width: 800px; height: 900px;">
                <div class="card-body text-center">
                    @if (Model.ErrorType == Lotofacil.Domain.Enums.ErrorType.Critical)
                    {
                        <img src="~/adminlte/dist/img/backgrounds/gato1.jpg" alt="Imagem de erro crítico" class="img-fluid" width="500">
                        <h4 class="mt-4">Erro Crítico</h4>
                        <p class="card-subtitle mt-2 mb-3">@Model.Message</p>
                        @if (!string.IsNullOrEmpty(Model.ExceptionDetails))
                        {
                            <p class="text-muted">Detalhes técnicos: @Model.ExceptionDetails</p>
                        }
                    }
                    else if (Model.ErrorType == Lotofacil.Domain.Enums.ErrorType.NoRecords)
                    {
                        <img src="~/adminlte/dist/img/backgrounds/gato4.jpg" alt="Imagem de sem registros" class="img-fluid" width="500">
                        <h4 class="mt-4">Nenhum Registro Encontrado</h4>
                        <p class="card-subtitle mt-2 mb-3">Não há registros disponíveis para exibição. @Model.Message</p>
                        <a href="/BaseContest/Create" class="btn btn-primary mt-3">Adicionar Novo Registro</a>
                    }
                    else if (Model.ErrorType == Lotofacil.Domain.Enums.ErrorType.NotFound)
                    {
                        <img src="~/adminlte/dist/img/backgrounds/gato3.png" alt="Imagem de recurso não encontrado" class="img-fluid" width="500">
                        <h4 class="mt-4">Recurso Não Encontrado</h4>
                        <p class="card-subtitle mt-2 mb-3">O recurso que você está tentando acessar não foi encontrado.</p>
                        <a href="/Home/Index" class="btn btn-secondary mt-3">Voltar para a Página Inicial</a>
                    }
                    else
                    {
                        <img src="~/adminlte/dist/img/backgrounds/gato2.jpg" alt="Imagem de erro" class="img-fluid" width="500">
                        <h4 class="mt-4">Erro Desconhecido</h4>
                        <p class="card-subtitle mt-2 mb-3">Um erro inesperado ocorreu. Tente novamente mais tarde.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
