# Ignorar configurações de usuário específicas do Visual Studio
.vs/
*.user
*.suo

# Ignorar configurações de build
bin/
obj/

# Ignorar pacotes
packages/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de configuração sensíveis (removido appsettings.json)
.env
launchSettings.json

# Pasta de logs
**/logs/

# Pasta de configurações de publicação (PublishProfiles)
**/Properties/PublishProfiles/

# Arquivo de configurações locais
**/appsettings.json

# Arquivo de configuração de publicação do IIS
**/web.config