table.custom-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2; /* Cor para linhas ímpares */
}

table.custom-striped tbody tr:nth-of-type(even) {
    background-color: #ffffff; /* Cor para linhas pares */
}

table.custom-striped thead {
    background-color: darkblue; /* Cor do cabeçalho */
    color: white; /* Cor do texto do cabeçalho */
}
.custom-striped th, .custom-striped td {
    text-align: center; /* Centraliza o texto nas células */
    vertical-align: middle; /* Centraliza o conteúdo verticalmente */
    font-size: 18px;
}

body {
    background-color: #333; /* Cor de fundo escura */
    color: #fff; /* Texto branco para contraste */
    font-size: 20px;
    font-family: monospace;
}




