@model Lotofacil.Application.ViewsModel.ContestViewModel
@{
    ViewData["Title"] = "Criar Concurso";
}

<section class="content-header" style="margin:16px;">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Adicionar um novo concurso</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home/Index">Página Inicial</a></li>
                    <li class="breadcrumb-item active">Adicionar um novo registro</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content" style="margin:16px;">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card card-orange">
                <div class="card-header">
                    <h3 class="card-title">Concurso</h3>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form asp-action="Create">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><ion-icon name="create-sharp"></ion-icon></span>
                            </div>
                            <input asp-for="Name" class="form-control" placeholder="Nome">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><ion-icon name="create-sharp"></ion-icon></span>
                            </div>
                            <input asp-for="Data" class="form-control" placeholder="Data de realização do concurso">
                            <span asp-validation-for="Data" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><ion-icon name="create-sharp"></ion-icon></span>
                            </div>
                            <input asp-for="Numbers" class="form-control" placeholder="Numeros do concurso">
                            <span asp-validation-for="Numbers" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Salvar" class="btn btn-success" />
                        <a href="/Home/Index" class="btn btn-warning float-right">Voltar para a página anterior</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</section>
