@{
    ViewData["Title"] = "Sobre";
}

<section class="content-header" style="margin:8px;">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sobre</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home/Index">Página Inicial</a></li>
                    <li class="breadcrumb-item active">Sobre</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid d-flex justify-content-center align-items-center">
    <!-- Primeiro Card -->
    <div class="card card-danger card-outline" style="margin:16px;">
        <div class="card-header">
            <h5 class="card-title m-0">Sobre o Sistema da Lotofácil</h5>
        </div>
        <div class="card-body">
            <p class="card-text" style="font-size:1.2rem;">
                <!-- Fonte maior -->
                
                O sistema permite o cadastro de concursos e a análise diária de novos concursos em comparação com concursos anteriores. Ele inclui uma visão de dashboard com análises, logs de registros, operações CRUD para gerenciamento de concursos, download de planilhas Excel e execução de serviços com Hangfire.
                Temos análises em 3 telas de Dashboard e serviços que fazem a alimentação do banco com os relacionamentos automáticamente com Hangfire.
                O coração do sistema é a comparação entre concursos base e os concursos diários.
                É importante ressaltar que este projeto foi desenvolvido exclusivamente para fins de aprendizado, não sendo indicado para outros usos, uma vez que os concursos têm um caráter aleatório. Foram aplicados conceitos avançados e diversas tecnologias junto com a Clean Architecture. Embora possam ser desnecessários para um projeto dessa simplicidade, seu uso reforça o propósito educacional.
            </p>
            <a href="@Url.Action("Index", "Home")" class="nav-link">Página Inicial</a>
        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center">
    <!-- Segundo Card -->
    <div class="card card-primary card-outline" style="margin:16px;">
        <div class="card-header">
            <h5 class="card-title m-0">Desenvolvimento do sistema</h5>
        </div>
        <div class="card-body">
            <p class="card-text" style="font-size:1.2rem;">
                <!-- Fonte maior -->
                Este projeto foi desenvolvido em .NET 8, ASP.Net (MVC), seguindo a Clean Architecture e diversos conceitos que ajudam a manter uma arquitetura bem estruturada. O frontend utiliza o template Admin LTE 3.2 com Bootstrap 4, que costumo usar em meus projetos. Embora o foco principal do projeto seja o backend, o frontend está visualmente agradável por conta da adaptação do templete que foi utilizado.
                Temos validações com Fluent Validations, Jobs recorrentes com Hangfire, Entity Framework 8 e Fluent API.
                As camadas do sistemas respeitam a arquitetura do Onion Architecture, utilizando para isso repositórios genéricos e específicos; interfaces; serviços; IoC e conceitos do SOLID.
            </p>
            <a href="@Url.Action("Create", "Contest")" class="nav-link">Cadastrar Concurso</a>
        </div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="card bg-light d-flex flex-fill">
            <div class="card-header text-muted border-bottom-0">
                Desenvolvedor
            </div>
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-7">
                        <h2 class="lead"><b>Nathan Farias</b></h2>
                        <p class="text-muted text-sm"><b>Sobre: </b> Desenvolvedor FullStack / Cientista da Computação </p>
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Endereço: ...</li>
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Telefone: +55 (88) 99487-0757</li>
                        </ul>
                    </div>
                    <div class="col-5 text-center">
                        <img src="~/adminlte/dist/img/profile/nathan.png" alt="user-avatar" class="img-circle img-fluid">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-right">
                <a href="https://github.com/N4thann?tab=repositories" target="_blank"  class="btn btn-sm bg-teal">
                        <ion-icon name="file-tray-full-outline"></ion-icon> GitHub
                    </a>
                <a href="https://www.linkedin.com/in/nathan-farias-5bb97a243/" target="_blank"  class="btn btn-sm btn-primary">
                        <ion-icon name="person-outline"></ion-icon> Ver Perfil
                    </a>
                </div>
            </div>
        </div>
</div>